<form method="get" action="/quizes/<%= quiz.id %>/answer">        
	Tema: <%= quiz.tema %> <p><p>
	Pregunta: <%= quiz.pregunta %> <p><p>
	<input type="text" name="respuesta" value="Respuesta"/> <p>
	<input type="submit" value="Enviar">
</form>